/* * Customizing tufte.css * */

/*@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro'; 
@charset "UTF-8";*/

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Source+Sans+Pro&display=swap');

/* Tufte CSS styles */

html {
	font-size: 17px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fefefe;
	color: #222;
	counter-reset: li;
	font-size: 17px;
}


h1.title {
	font-weight: 700;
  font-family: 'Open Sans', sans-serif;
	color: #4187aa;
}

h1 {
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
	color: #4187aa;
}

h2, h3 {
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
/*	font-weight: 400; */
	color: #4187aa;
	margin-bottom: 5px;
}



h3 {
	font-style: normal;
	font-family: 'Open Sans', sans-serif;
/*	font-weight: 400; */
	color: #4187aa;

}

h4 {
	font-style: bold;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	margin-top: 1.5rem;
	margin-bottom: 2;
	line-height: 1;
}

h4.author,
h4.date {
	font-family: 'Open Sans', sans-serif;
	font-weight: 350;
}

.numeral {
	font-family: "Open Sans";
	font-weight: 350;
}

em {
	font-style: italic;
	font-weight: 350;
	font-family: "Open Sans";
}

style .part{
  color: #4187aa;
  font-weight: bold;
}

strong, b {
	font-style: bold;
	font-weight: 600;
	font-family: "Open Sans";
}

a {
  color: #07acac;
  text-decoration: underline;
}

/* Code formatting */

/* @media screen and (max-width: 760px) {
	pre {
		width: 100%;
		font-size: 17px;
	}
}
*/

@media screen and (max-width: 760px) {
	pre {
		width: 100%;
		font-size: 30px;
     	overflow-x: auto;
	}
}

code {
	font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 16px;
	line-height: 1.7; 
}

pre {
	background-color: #FFFFFF;
	/*border-color: #CCCCCC;*/
	/*border-style: solid;*/
	border-width: 0px;
  border-radius: 4px;*/
  overflow-x: auto;
 	padding: 1em;
 	white-space: inherit;
 	word-break: normal;
 	word-wrap: normal;
}


pre.r {
	background-color: #F5F5F5;	
	/*border-color: #CCCCCC*/
	 white-space: inherit;
}


.marginnote code,
.sidenote code {
	font-size: 14px;
}


td {
  font-size: 17px;
}

div.footnote {
   color: red;
}

/*Style for the Footer*/

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: #7C878E;
  font-size: 17px;
}

/*Commit message*/

div .commit {
  font-size: 16px;
  font-weight: 400;
  color: #07acac;
  text-decoration: italic;
}
